<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head') %>
    <body>
        <%- include('includes/navigation') %>

        <div class="container">
            <main role="main" class="pb-3">
                <!-- START - Layout Content -->

                <h1><%= pageTitle %></h1>

                <p>Use this page to detail your site's privacy policy.</p>

                <!-- END - Layout Content -->
            </main>
        </div>

        <!-- Footer -->
        <%- include('includes/footer') %>

        <!-- JS -->
        <%- include('includes/scripts') %>
    </body>
</html>
